# Default values for maestro-addon.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  imageOverrides:
    maestroImage: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/maestro-main/maestro-main:351a2648395ec8bd080c6c16ca35ec3ab2514c2f
    maestroAddOnImage: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/maestro-main/maestro-addon-main:1a96a31ddf8f63052e1a392b1684b07518b33dc1
    postgresImage: docker.io/library/postgres:16.4
  imagePullPolicy: IfNotPresent
  pullSecret: ""
  namespace: maestro

maestro:
  replicas: 1
  logLevel: 2

maestroAgent:
  logLevel: 2

addOnManager:
  namespace: open-cluster-management-hub

maestroAddOn:
  logLevel: 2

database:
  useExternalDB: false

messageQueue:
  amqStreams:
    name: "kafka"
    namespace: "amq-streams"
    listener:
      type: "route"
      port: 443
