# Default values for maestro-addon.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  imageOverrides:
    maestroImage: quay.io/stolostron/maestro:latest
    maestroAddOnImage: quay.io/stolostron/maestro-addon:latest
    postgresImage: docker.io/library/postgres:14.2
  imagePullPolicy: IfNotPresent
  pullSecret: ""
  namespace: maestro

maestro:
  replicas: 1
  logLevel: 2

addOnManager:
  namespace: open-cluster-management-hub

maestroAddOn:
  logLevel: 2

database:
  useExternalDB: false

messageQueue:
  amqStreams:
    name: "kafka"
    namespace: "amq-streams"
